.small_button {
  outline: none;
  border: 1px solid  #608dd6;
  background: orangered;
  border-radius: 20px;
  width: auto;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  cursor: pointer !important;
  color:#608dd6;
}

.small_button:hover {
  color:#e3f2fd;
  background-color: #608dd6  !important;
}

.small_button:active,
.small_button:focus {
  -moz-outline-style: none;
  outline: none;
}
